<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>RMS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smokejs/3.0.1/js/smoke.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/smokejs/3.0.1/css/smoke.min.css">
		<script src="https://cdn.jsdelivr.net/jquery.scrollup/2.4.0/jquery.scrollUp.min.js"></script>
	</head>
	<body>
		<div class="container">
		{% include 'components/navbar.html.twig' %}
		{% block content %}
			 
		{% endblock %}
		</div>
		<div class="text-center">
				<hr></hr>
				<p>power by RMS</p>
		</div>
	</body>
</html>

<script type="text/javascript">   
	{% if session.flashdata %} // 浮筐處理
	$(function () {
		$.smkAlert({
		    text: '{{ session.flashdata.message }}',
		    type: '{{ session.flashdata.type }}',
		    position: 'top-center'
		});
	})
	{% endif %}
	$(function(){			//scrollup
  		$.scrollUp({
  			scrollText: '^',
  			scrollDistance: 100,
  			scrollSpeed: 300,  
  		});

	});
</script>
