{% extends 'layout/layout.html.twig' %}
{% block content %}
<div class="row text-center">
	<h1>公告</h1>
	<br />
</div>
<div class = "row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<ul class="list-group">
		  <li class="list-group-item list-group-item active">2016/01/05 , 2016/01/06 DEMO</li>
		  <li class="list-group-item">專案</li>
		  <li class="list-group-item">需求管理,審核</li>
		  <li class="list-group-item">TestCase管理</li>
		  <li class="list-group-item">關聯管理</li>
		  <li class="list-group-item">追朔矩陣</li>
		  <li class="list-group-item">會員管理</li>
		</ul>
	</div>
</div>

{% endblock %}