<!--	State 一定是待審核	-->
<form class = 'form-horizontal' role = 'form' method  = 'POST'>
	<!--	Name    -->
	<div class = 'form-group'>
		<label class = 'col-md-2' control-label>Name</label>
		<div class = 'col-md-3'>
			<input type = 'text' class = 'form-control' name = 'name'>
		</div>
	</div>
	<!--	Version    -->
	<div class = 'form-group'>
		<label class = 'col-md-2' control-label>Version</label>
		<div class = 'col-md-3'>
			<input type = 'text' class = 'form-control' name = 'version'>
		</div>
	</div>
	<!--	Functional    -->
	<div class = 'form-group'>
		<label class = 'col-md-2' control-label>Functional</label>
		<div class = 'col-md-5'>
			<select class = 'form-control' id = 'functional'>
				<option value = '1'>Functional</option>
				<option value = '0'>Non-functional</option>
			</select>
		</div>
	</div>
	<!--	Level    -->
	<div class = 'form-group'>
		<label class = 'col-md-2' control-label>Level</label>
		<div class = 'col-md-3'>
			<input type = 'text' class = 'form-control' name = 'level'>
		</div>
	</div>
	<!--	Description    -->
	<div class = 'form-group'>
		<label class = 'col-md-2' control-label>Description</label>
		<div class = 'col-md-8'>
			<textarea class="form-control" class = 'form-control' name = 'description'></textarea>
		</div>
	</div>
</form>