.projectBlock
{
	background-color: rgba(128,172,216,0.5);
	height: 240px;
	margin-top: 20px;
}
.projectBlock:hover
{
	background-color: rgba(128,172,216,0.8);
}

.relative {
	position: relative;
}

.abs-bottom-right {
	position: absolute;
	bottom: 7px;
	right: 21px;
}

.caption {
    padding: 9px;
    word-break: break-all;
}

.member-list{
	margin: 7px;
}

.abs-right {
	position: absolute;
	right: 0;
	top: 0;
}

.del-left{
	right:100px;
}