.projectBlock
{
	background-color: rgba(128,172,216,0.5);
	height: 240px;
	margin-top: 20px;
}
.projectBlock:hover
{
	background-color: rgba(128,172,216,0.8);
}

.projectBlockUser
{
	background-color: rgba(125,206,82,0.5);
	height: 240px;
	margin-top: 20px;
}
.projectBlockUser:hover
{
	background-color: rgba(125,206,82,0.8);
}

.projectBlockDev
{
	background-color: rgba(232,116,97,0.5);
	height: 240px;
	margin-top: 20px;
}
.projectBlockDev:hover
{
	background-color: rgba(232,116,97,0.8);
}

.relative {
	position: relative;
}

.abs-bottom-right {
	position: absolute;
	bottom: 7px;
	right: 21px;
}

.caption {
    padding: 9px;
    word-break: break-all;
}

.member-list{
	margin: 7px;
}

.abs-right {
	position: absolute;
	right: 0;
	top: 0;
}

.del-left{
	right:100px;
}

.select-list{
	width:115px;
}
.rel-btn button {
	font-size: 12px;
}

.traceablity-cell{	
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding:0px 0px 0px 0px;
}

.traceablity-header{
	background-color:#bbbbbb;
}

.traceablity-header:hover{
	background-color:#cccccc;
}

.traceablity-Green{
	background-color:#66bb66;
}

.traceablity-Red{
	background-color:#ff8888;
}

.traceablity-matrix
{
	border-style: solid;
	border-width: 2px;
}