
<form class="form-horizontal" role="form" action="{{ site_url(['/projectmanage/update', project.p_id]) }}" method="POST">
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="name" value="{{ (validation_errors()) ? set_value('name') : project.name }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Description</label>
		<div class="col-md-3">
			<input type="text" class="form-control" name="description" value="{{ (validation_errors()) ? set_value('description') : project.description }}">
		</div>
	</div>

	<script type="text/javascript">
		//$("[name='priority'] > [value='{{ project.priority }}']")[0].selected = true;
	</script>
	<button type="submit" class="btn btn-primary col-md-offset-10">Update</button>
</form>